<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block pageTitle %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('bundles/app/vendor/bootstrap.min.css') }}"
    >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/@media.css') }}"/>
</head>